@import url("layout.css");
div.hero-section {
    background: url(../images/hero-image.jpg) no-repeat center;
    margin: 12% 7%;
    font-size: 1rem;
    color: var(--text-color-warm);
    font-family: none;
    text-align: end;
}
div.hero-section h1 {
    font-size: 3rem;
    width: fit-content;
}
