/*settings generali*/
:root{/*da cambiare*/
    --primary-color-1:#141414;
    --primary-color-2:#202020;
    --secondary-color:#4F7CAC;
    --action-color:#0E79B2;
    --text-color-warm:#fffacd;
    --text-color-cold:#CBEEF3;
}
* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 103%;
    color: var(--text-color-warm);
}
body{
    min-height: 100vh;
    background: var(--primary-color-2);
    padding: 4rem 0 0;
}
/*header*/
.header-generale {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--primary-color-1);
    z-index: 100;
}
nav {
    background-color: #141414;
    padding: 1rem 0;
} 
.pages {
    display: flex;
    justify-content: space-around;
}
.pages a{
    color: #fffacd;
    position: relative;
    text-decoration: none;
    padding: 5px 10px;
    font-size: larger;
    transition: color 0.3s ease;
}
/* Animazione dei link nella navbar */
.pages a::before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 2px;
    background-color: var(--action-color);
    transition: all 0.3s ease;
    transform: translateX(-50%);
}

.pages a:hover::before {
    width: 60%; /* Larghezza ridotta della lineetta */
    left: 50%; /* Mantiene la linea centrata */
    transform: translateX(-50%);
}

.pages a:hover {
    color: var(--action-color);
}

#sidebar-active {
    display: none;
}
.open-sidebar, .close-sidebar {
    padding: 0 20px;
    display: none;
}
@media (max-width: 745px) {
    .pages {
        display: none;
        flex-direction: column;
        align-items: flex-start;
        position: fixed;
        top: 0;
        z-index: 100;
        width: 45%;
        background-color: var(--primary-color-1);
        box-shadow: -5px 0 5px rgba(0, 0, 0, 0.25);
        transition: transform 0.3s ease-in-out;
        padding-left: 1.5rem;
        height: 100%;
    }
    .pages a::before{
        width: 0;
        height: 0;
        left: 0;
    }
    nav a {
        box-sizing: border-box;
        height: auto;
        width: 100%;
        padding: 20px 30px;
        justify-content: flex-start;
    }
    .open-sidebar, .close-sidebar {
        display: block;
    }
    nav #sidebar-active:checked {
        background-color: transparent;
    }
    #sidebar-active:checked ~ .pages {
        display: flex;
        transition: 2s ease-out;
    }
    #sidebar-active:checked ~ #overlay {
        background: rgba(0, 0, 0, 0.05);
        backdrop-filter: blur(10px);
        height: 100%;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 99;
    }
}
/*footer*/

.footer-generale {
    width: 100%;
    height: 17rem;
    background-color: var(--primary-color-1);
    display: grid;
    grid-template-columns: 25% 35% 20%;
    grid-template-rows: 60% 15% 15%;
    column-gap: 5%;
    row-gap: 5%;
    padding: 2rem 1rem 0;
    justify-content: space-around;
    color: var(--text-color-warm);
}
.footer-generale a{
    color: var(--text-color-warm);
    text-decoration: none;
}
.footer-generale .indirizzo{
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 4;
}
.footer-generale .diritti{
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 4;
}
.footer-generale .diritti p{
    text-align: center;
}
.footer-generale .social{
    display: flex;
    flex-direction: column;
    justify-items: center;
}
.footer-generale .social a{
    margin-top: 0.75rem;
    width: fit-content;
}
.footer-generale .social p{
    width: fit-content;
    float: left;
}
.footer-generale .social i{
    float: left;
    margin-right: 0.5rem;
}
.footer-generale .logo{
    margin-top: 1rem;
    font-size: 3rem;
}
.footer-generale .contatti{
    justify-items: center;
}
.footer-generale .contatti h2{
    width: fit-content;
    margin-bottom: 1rem;
}
.footer-generale .contatti a{
    margin-top: 1rem;
}
.footer-generale .contatti i{
    float: left;
    margin-right: 0.5rem;
}
.footer-generale .contatti p{
    float: left;
}
@media (max-width: 870px) {
    .footer-generale a p{
        display: none;
        align-items: center;
    }
    .footer-generale .social{
        display: block;
        justify-items: center;
    }
    .footer-generale .social a{
        margin-top: 0.75rem;
        width: fit-content;
    }
    .footer-generale .social p{
        width: fit-content;
        float: left;
    }
    .footer-generale .social i{
        float: left;
        margin-right: 1rem;
    }
    .footer-generale .social h3{
        margin-bottom: 1rem;
    }
}
@media (max-width: 1005px){
    .footer-generale .contatti a{
        margin-top: 2rem;
    }
    .footer-generale .contatti p{
        display: none;
        align-items: center;
    }
}